<!DOCTYPE html>
<html lang="en">

<%- include("partials/head", {tituloWeb : "Wind Garden", estiloP: "css/index.css", estiloP2: "css/respIndex.css"}) %>

<body>
    <%- include("partials/menuD") %>

    <header class="header">

        <%- include("partials/navegation") %>

        <div class="content">
            <div class="titulo0" data-aos="fade-right">Wind Garden</div>
            <p class="parrafo0" data-aos="fade-right">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam iste ea quae maxime quibusdam nulla excepturi tempore autem nesciunt non. Laborum quas ratione officia beatae qui possimus asperiores provident tempora! Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <div class="botonCont" data-aos="fade-left">
                <div class="boton">
                    <a href="/contact" class="enlace">Contacto</a>
                </div>
            </div> 
        </div>
        <video class="fondo0" src="img/Fondito.mp4" autoplay muted loop></video>         
    </header>

    <div class="seccion1"> 
        <div class="seccion1_cont">
            <div class="titulo1">
                <h2>Los que mejor se adaptan al clima seco</h2>
             </div>
             <div class="art1a art1contenedor">
                <div class="art1cont">
                    <img class="imgArt1" src="img/imgArt1a.jpg" alt="" data-aos="zoom-in">
                    <h3>Arboles de Sombra</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem doloribus ab voluptas consequatur rem eaque.</p> 
                </div>               
             </div>
             <div class="art1b art1contenedor">
                <div class="art1cont">
                    <img class="imgArt1" src="img/imgArt1b.jpg" alt="" data-aos="zoom-in">
                    <h3>Frutales</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem doloribus ab voluptas consequatur rem eaque.</p>
                </div>
             </div>
             <div class="art1c art1contenedor">
                <div class="art1cont">
                    <img class="imgArt1" src="img/imgArt1c.jpg" alt="" data-aos="zoom-in">
                    <h3>Hortalizas</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem doloribus ab voluptas consequatur rem eaque.</p>
                </div>                
             </div>
             <div class="boton1Cont">
                <div class="boton1">
                    <a href="/crops" class="enlace">Ver más</a>
                </div>
            </div>
        </div>            
    </div>
    <div class="seccion2">
        <div class="seccion2_cont">
            <div class="titulo2">
                <h2 data-aos="fade-right">Guías y Recomendaciones</h2>
            </div>
            <div class="art2a">
                <div class="art2cont">
                    <img src="img/imgPala.png" alt="" class="imgArt2" data-aos="fade-left">
                    <p data-aos="fade-left">Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, cumque officiis. Ea corporis, laudantium eveniet repellat est tempore molestias quis officia commodi pariatur et vel minus delectus dolorem consequuntur? Laborum architecto, voluptatum culpa fugit commodi distinctio pariatur dolorum quaerat cum dolores quam temporibus, autem quis dolor. Officiis quisquam accusamus ullam?</p>
                </div>
            </div>
            <div class="art2b">
                <div class="art2cont">
                    <img src="img/imgEstaciones.png" alt="" class="imgArt2" data-aos="fade-left">
                    <p data-aos="fade-left">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam molestiae autem hic magnam est quos nulla harum eius nemo, exercitationem earum dignissimos, saepe architecto iste? Magni quibusdam cum minima, et, sapiente odio, quis architecto a dignissimos sed placeat explicabo blanditiis magnam? Quam voluptatibus sed facere tempore incidunt excepturi vero error!</p>
                </div>
            </div>
            <div class="art2c">
                <div class="art2cont">
                    <img src="img/imgAbono.png" alt="" class="imgArt2" data-aos="fade-left">
                    <p data-aos="fade-left">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Assumenda, veritatis at reiciendis, qui obcaecati fuga impedit quisquam quos quibusdam mollitia id laudantium quasi officiis. Minima, illum amet. Quaerat in perspiciatis tempore aperiam. Dicta, voluptate dolor est deserunt fuga aliquid inventore eum, possimus quisquam quaerat cum pariatur ratione fugiat consectetur reiciendis.</p>
                </div>
            </div>
            <div class="boton2Cont" data-aos="fade-right">
                <div class="boton2">
                    <a href="/guides" class="enlace">Explorar</a>
                </div>
            </div>
        </div>
    </div>
    <div class="seccion3">
        <div class="seccion3_cont">
            <div class="titulo3">
                <h2 data-aos="fade-left">Tipos de climas secos</h2>
            </div>
            <div class="art3a">
                <div class="art3a_cont">
                    <div class="art3a_contG">
                        <div class="slide_cont">
                            <img src="img/imgArt3a.jpg" alt="" class="slide1 slide">
                        </div>
                        <div class="slide_cont">
                            <img src="img/imgArt3b.jpg" alt="" class="slide2 slide">
                        </div>
                        <div class="slide_cont">
                            <img src="img/imgArt3c.jpg" alt="" class="slide3 slide">
                        </div>
                        <div class="slide_cont">
                            <img src="img/imgArt3d.jpg" alt="" class="slide4 slide">
                        </div>
                        <div class="slide_cont">
                            <img src="img/imgArt3a.jpg" alt="" class="slide5 slide">
                        </div>    
                    </div>                                      
                </div>
            </div>
            <div class="art3b">
                <p data-aos="fade-left">Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, voluptatum itaque consectetur recusandae voluptate consequuntur, reiciendis aperiam odio, provident optio debitis blanditiis quae dolores veritatis ipsam vero accusamus impedit! Nulla?</p>
            </div>
            <div class="boton3_cont" data-aos="fade-right">
                <div class="boton3">
                    <a href="/maps" class="enlace">Explorar</a>
                </div>
            </div>
        </div>
    </div>  

    <%- include("partials/footer") %>
    
</body>

</html>