<ul class="nav__menu">
    <a class="nav__item" href="/">Inicio</a>
    <a class="nav__item" href="/crops">Cultivos</a>
    <a class="nav__item" href="/guides">Guías</a>
    <a class="nav__item" href="/maps">Climas</a>
    <a class="nav__item" href="/contact">Contacto</a>
</ul>