<nav class="nav">
    <div class="navCont">
        <div class="logo0">
            <img src="img/windG.svg" alt="">
        </div>
        <input type="checkbox" id="check0" class="check0">
        <label for="check0" class="checkLabel">
            <i class="fas fa-bars"></i>
        </label>
        <ul class="nav__menu0">
            <a class="nav__item0" href="/">Inicio</a>
            <a class="nav__item0" href="/crops">Cultivos</a>
            <a class="nav__item0" href="/guides">Guías</a>
            <a class="nav__item0" href="/maps">Climas</a>
            <a class="nav__item0" href="/contact">Contacto</a>
        </ul>
    </div>    
</nav>